<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FullStack Practice</title>
    <!-- <link rel="stylesheet" href="../CSS/style.css" /> -->
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/profile.css">

    <link
      rel="stylesheet"
      media="screen and (max-width: 750px)"
      href="/CSS/Responsive.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="svgs/user.svg" />
  </head>

   
 